services:
  freeipa:
    image: freeipa/freeipa-server:rocky-9
    container_name: freeipa-server
    hostname: ipa.packops.local
    privileged: true                          # mandatory on Docker
    tmpfs:
      - /run:size=100m
      - /tmp:size=500m
    cap_add:
      - SYS_ADMIN                             # required when using cgroup v2
    security_opt:
      - seccomp=unconfined                    # required when using cgroup v2
    volumes:
      - freeipa-data:/data
      - /sys/fs/cgroup:/sys/fs/cgroup:rw      # rw is mandatory on cgroup v2
    sysctls:
      - net.ipv6.conf.lo.disable_ipv6=0
    environment:
      - PASSWORD=Admin@123
    ports:
      - "53:53"
      - "53:53/udp"
      - "80:80"
      - "443:443"
      - "389:389"
      - "636:636"
      - "88:88"
      - "88:88/udp"
      - "464:464"
      - "464:464/udp"
      - "123:123/udp"
    command: >
      -U
      --realm=PACKOPS.LOCAL
      --domain=packops.local
      --unattended
      --no-ntp
      --setup-dns
      --no-forwarders
      --auto-reverse
      --no-client

volumes:
  freeipa-data: