services:
  freeipa:
    image: freeipa/freeipa-server:almalinux-9
    container_name: freeipa
    hostname: ipa.packops.local
    read_only: true
    tmpfs:
      - /run
      - /tmp
    volumes:
      - ipa-data:/data:Z
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
    environment:
      - PASSWORD=Admin@123
      - IPA_SERVER_HOSTNAME=ipa.packops.local
      - IPA_SERVER_IP=172.31.6.95
      - REALM=PACKOPS.LOCAL
      - DOMAIN=packops.local
      - IPA_SERVER_INSTALL_OPTS=-U --no-dns              # your EC2 private IP
    ports:
      - "80:80"
      - "443:443"
      - "389:389"
      - "636:636"
      - "88:88"
      - "88:88/udp"
      - "464:464"
      - "464:464/udp"
      - "53:53"
      - "53:53/udp"
      - "123:123/udp"
    # restart: unless-stopped

volumes:
  ipa-data: