services:
  freeipa:
    image: freeipa/freeipa-server:rocky-9
    container_name: freeipa-server
    hostname: ipa.packops.local
    privileged: true
    tmpfs:
      - /run:size=100m
      - /tmp:size=500m
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp:unconfined
    volumes:
      - freeipa-data:/data
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    environment:
      - PASSWORD=Admin@123
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80"
      - "443:443"
      - "389:389"
      - "636:636"
      - "88:88"
      - "88:88/udp"
      - "464:464"
      - "464:464/udp"
      - "123:123/udp"
    # THIS IS THE ONLY LINE THAT MATTERS NOW
    command: ["--no-client"]

volumes:
  freeipa-data: