services:
  freeipa:
    <<: *cgroup           # â† apply it here
    image: freeipa/freeipa-server:rocky-9
    container_name: freeipa-server
    restart: unless-stopped
    hostname: ipa.packops.local
    privileged: true
    tmpfs:
      - /run:size=100m
      - /tmp:size=500m
    volumes:
      - freeipa-data:/data
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    sysctls:
      - net.ipv6.conf.lo.disable_ipv6=0
    environment:
      PASSWORD: Admin@123
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80"            
      - "443:443"
      - "389:389"          
      - "636:636"
      - "88:88"            
      - "88:88/udp"
      - "464:464"          
      - "464:464/udp"
      - "123:123/udp"
    command: >
      -U --realm=PACKOPS.LOCAL --domain=packops.local
      --unattended --no-ntp --setup-dns --no-forwarders --auto-reverse