services:
  freeipa:
    image: freeipa/freeipa-server:rocky-9
    container_name: freeipa-server
    hostname: ipa.packops.local
    privileged: true
    userns_mode: "host"
    networks:
      - freeipa-net
    environment:
      - DS_PASSWORD=Admin@123
      - ADMIN_PASSWORD=Admin@123
    volumes:
      - freeipa-data:/data
      - /sys/fs/cgroup:/sys/fs/cgroup
    command:
      - -U
      - --realm=PACKOPS.LOCAL
      - --domain=packops.local
      - --unattended

networks:
  freeipa-net:
volumes:
  freeipa-data:
